body {
	background-image:url("https://image.freepik.com/free-photo/red-yellow-grunge-sunburst-vintage-background-with-space_1627-1939.jpg");/*adresse de l'image gratuite*/
	background-size:100%;
	text-align:center;
}

.title {
	font-size: 500%;
	font-weight: bolder;
	font-family:"Amatic SC", cursive;
	margin-top: 2%;
	display: inline-block;
	background-color: green;
	width: 350px;
	border:1px solid black;
	border-radius: 10px;
}

.about {
	border:2px solid black;
	background-color: lightblue;
	width:50%;
	margin-top: 5%;
	margin-right:auto; 
	margin-left:auto;
	padding:1%;
}

.avatar {
	height: 100px;
	margin-top: 2%;
}

.avatar:hover{
	background-color: green;
	border: 1px dotted black;
	border-radius: 50px;
	cursor: pointer;
}

.decal {
	margin-left: 0%;
}

.table {
	background-color:lightblue;
	border:2px solid black;
	margin-top: 3%;
	margin-right:auto;
	margin-left:auto;
	width: 40%;
}

th {
	border:1px solid black;
}

td {
	border:1px solid black;
}

.maps {
	width: 66%;
	margin-top: 3%;
}