<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="shortcut icon" th:href="@{../clown.png}">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="style.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
		<title>Wild Circus</title>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-success">
			<a class="navbar-brand" th:href="@{/}">
				<img th:src="@{../clown.png}" alt="clown">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" th:href="@{/}">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/price}">Sessions and Prices</a>
					</li>
					<li class="nav-item">
						<span class="nav-link">Localisation</span>
					</li>
				</ul>
			</div>
		</nav>
		<h1 class="title">Localisation</h1>
		<div>
			<iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2604.022049763687!2d4.017565915319562!3d49.25702798050966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e975e4ed302cc7%3A0x836ba7437c081196!2sWild+Code+School+(%C3%A0+%22Quartier+Libre%22)+Campus+Reims+-+Ecole+de+D%C3%A9veloppement+Web+et+nouveaux+m%C3%A9tiers+num%C3%A9riques!5e0!3m2!1sfr!2sfr!4v1559140260438!5m2!1sfr!2sfr" width="100%" height="400" frameborder="0" style="border:0" margin="0" allowfullscreen></iframe>
		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>